.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: white;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-grow: 1;
}
ul,h1,h2{
  margin:0;
}
.folder-link.active{
  background-color: red;
}